<div class="row"> 
 
  <div class="col-xs-12">
      <h3>Add shop</h3>
        <form (ngSubmit)= "onAddItem()" #shopForm = "ngForm">        
            <div class="form-group">
              <label for="name">Name</label>
              <input 
                type="text" 
                name="shopName" 
                id="shopName" 
                class="form-control"
                ngModel
                required
                >
            </div>
    
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Add</button>                              
                <br><br>
              </div>
              
            </div>
          </form>
          <div class="row" *ngFor = "let shop of shops">
            <div class="col-xs-7">
                {{shop.name}}
            </div>
            <div class="col-xs-2">              
                <button class="btn btn-default btn-sm">Edit</button>                
            </div>
            <div class="col-xs-2">                            
              <button class="btn btn-danger btn-sm" (click)=onDelete(shop)>Delete</button>            
          </div>
          </div>        
    </div>
</div>