<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink = "/uselist">Shopping</a></li>
                <li routerLinkActive="active"><a routerLink = "/createlist">Create</a></li>
                <li routerLinkActive="active"><a routerLink = "/items/display">Items</a></li>                
            </ul>            
        </div>
    </div>
</nav>