<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Shopping List</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink = "/uselist">Use List</a></li>
                <li routerLinkActive="active"><a routerLink = "/createlist">Create List</a></li>
            </ul>            
        </div>
    </div>
</nav>