  
  <div class="card">
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'" class="text-center">
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="now-ui-icons shopping_cart-simple "></i> Shopping List
                  </ng-template>
                    <ng-template ngbTabContent>
                      <div class="container">
                          <app-todo></app-todo>
                      </div>
                      
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <i class="now-ui-icons objects_umbrella-13"></i> Done
                  </ng-template>
                    <ng-template ngbTabContent>
                        <app-done></app-done>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
  </div>
  
  
   