<!-- <button class="btn btn-info" (click)="open(Notice)">
   Add new item
</button> -->
<button class="btn btn-success btn-round" (click)="open(Notice)" ngbTooltip="Edit copied item only">Edit</button>
<ng-template #Notice let-c="close" let-d="dismiss">
<div class="modal-header">
    <button type="button" class="close" (click)="d('Cross click')">
        <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>    
</div>
<div class="modal-body">
    <ng-container #TemplateRef [ngTemplateOutlet]="template"></ng-container>
</div>
</ng-template>
