<h3>Shopping List</h3>
<div class="form-group">  
  <select   
      id="shops" 
      class="form-control"
      (change)="onShopSelect($event)"
      #shopInput>
        <option value="all">All Shops</option>                        
        <option *ngFor = "let shop of shops" value={{shop.name}}>{{shop.name}}</option>                        
  </select>          
</div>     

<div class="table-responsive text-center">
    <div class="table table-striped">
        <tr *ngFor = "let item of items">
            <td>
                <input
                value = {{item.sorting}}
                type="number"
                id = "sorting"
                class="form-control"
                (change) = "onSortingChange($event, item)"
                #sorting
              />
            </td>
            <td>
                <input 
                type="checkbox"    
                (click) = "onDone(item)">
                <span class="checkmark"></span>
            </td>
            <td>
                {{item.name}}
            </td>
            <td><button class="btn btn-primary" (click)="onEdit(item)">Edit</button></td>
        </tr>
    </div>
</div>





<button *ngIf="displayEdit" class="btn btn-primary"(click) = onHide()>Hide</button>
<div [ngStyle]="{visibility: isVisible}">    
    <app-addedit-items></app-addedit-items>    
</div>


