<h3>Shopping List</h3>
<div class="form-group">  
  <select   
      id="shops" 
      class="form-control"
      (change)="onShopSelect($event)"
      #shopInput>
        <option value="all">All Shops</option>                        
        <option *ngFor = "let shop of shops" value={{shop.name}}>{{shop.name}}</option>                        
  </select>          
</div>          
<div *ngFor = "let item of items" class="container">
  <div class="col-sm-2">
      <input
        value = {{item.sorting}}
        type="number"
        id = "sorting"
        class="form-control"
        (change) = "onSortingChange($event, item)"
        #sorting
      />
  </div>
  <div class="col-sm-2">
      {{item.name}}
  </div>
  <div class="col-sm-1">
      <input 
    type="checkbox"    
    (click) = "onDone(item)">
    <span class="checkmark"></span>
  </div>
  <div class="col-sm-1">  
    <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
  </div>
    
</div>
<button *ngIf="displayEdit" class="btn btn-primary"(click) = onHide()>Hide</button>
<div [ngStyle]="{visibility: isVisible}">    
    <app-addedit-items></app-addedit-items>    
</div>

